.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    padding-left: 0.5em; 
}

.crumb {
    font-size: small;
    color: chocolate;
}